.input-Style {
  outline: none;
  border: 0;
  padding: 4px 10px;
  background: transparent;
  border-bottom: 1px solid #8e58b8;
  font-weight: 600;
  color: #8e58b8;
}

.textarea-Style {
  resize: none;
  overflow: hidden;
  height: 100%;
  background-color: #f3e5f5;
  color: black;
}
