@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

*, *:before, *:after{
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
  color: #8e58b8;
}

html, body{
  background: #f3e5f5;
}

.react-flow__node{
  border: 1.5px solid #8e58b8;
  background-color: #ede7f6;
}
